.cssanimation, .cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.cssanimation span {
  animation-name: rotate-zoom;
 }

@keyframes rotate-zoom {
    from {
        transform: perspective(600px) translate3d(0, -60px, -2000px) rotateY(75deg);
        opacity: 0
    }
    5% { transform: perspective(600px) translate3d(0, -60px, -1500px) rotateY(75deg) }
}

@keyframes rollup {
  0% { transform: translateY(-50px);opacity:0 }
  100% { transform: none; opacity:1 }
}

.bookAnimation {
  animation: rollup 0.4s;
}

.reversedAnim {
  animation: rollup 0.4s;
  animation-direction: backwards;
}

