.header {
  display: flex;
  list-style: none;
  padding: 0;
  background: rgba(20, 83, 45, 0.5);
  justify-content: center;
}
.header li {
  overflow: hidden;
  place-content: center;
  color: #c1ccd6;
  cursor: pointer;
  font-size: smaller;
  margin-bottom: 5vh;
}
.header li img {
  overflow: hidden;
}

.icon{
  margin: 0px;
  padding: 0px;
}

.header li:hover, li.tab-active{
  background: #62ab49;
  color: #fff;
}

.icon:hover{
  opacity: 0.75;
  transition-duration: .25s;
}

.header li:last-child {
  width: 0px;
  height: 0px;
}

.content h1 {
  font-weight: 700;
  font-size: 26px;
  color: #14532D;
  margin: 0 auto;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* copy transform effect here where needed */
.content .box {
  position: absolute;
  opacity: 0;
  transform: translateY(3px);
  pointer-events: none;
  transition: all 0.3s ease-in;
}
.content .box-active {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease-out 0.4s;
}
.dot {
  height: 5px;
  width: 5px;
  background-color: #14532D;
  border-radius: 50%;
  display: inline-block;
}
.dot2 {
  height: 5px;
  width: 5px;
  margin: 0px 5px 0px;
  background-color: #14532D;
  border-radius: 50%;
  display: inline-block;
}

.bulletText {
  width: 90%;
  font-size: smaller;
}

.bulletText i {
  font-size: smaller;
}

.greenCover {
  background: rgba(98, 171, 73, .25);
  position: absolute;
  opacity: 0;
  z-index: 10;
}

.greenCover:hover {
  animation-name: fadeOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-direction: forwards;
  animation-fill-mode: forwards;
}

#slideShow {
  position: absolute;
  opacity: 1;
  margin-left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation-name: bgSlides;
  animation-duration: 8s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#slideShow0 {
  position: absolute;
  opacity: 1;
  margin-left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation-name: bgSlides0;
  animation-duration: 8s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.topAnim {
animation-name: FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 5s;
animation-direction: alternate;
}

@media (max-width: 1024px) {
  /* … */
  .header {
    height: 60px;
    /* width: 75px; */
  }
  .header li {
    height: 60px;
    width: 60px;
  }
  .header li img {
    height: 60px;
    width: 60px;
  }
  #slideShow, #slideShow0, #slideShow2{
    height: 60px;
    width: 60px;
  }
}

@media (min-width: 1024px) {
  /* … */
  .header {
    height: 100px;
    /* width: 100px; */
  }
  .header li {
    height: 100px;
    width: 100px;
  }
  .header li img {
    height: 100px;
    width: 100px;
  }
  #slideShow, #slideShow0, #slideShow2{
    height: 100px;
    width: 100px;
  }
}


@keyframes FadeInOut {
  0% {
  opacity:1;
}
35% {
opacity:1;
}
65% {
opacity:0;
}
100% {
opacity:0;
}
}

@keyframes fadeOut {
  0% {
  opacity:0;
}
100% {
opacity:1;
}
}

@keyframes bgSlides0 {
  0% {
    background-image: url(../media/illu01.png);
  }
  50% {
    background-image: url(../media/illu02.png);
  }
  100% {
    background-image: url(../media/illu03.JPG);
  }
}

@keyframes bgSlides {
  0% {
    background-image: url(../media/wineinvestmentcellars-logo.png);
  }
  25% {
    background-image: url(../media/creativesportsconcepts-logo.png);
  }
  50% {
    background-image: url(../media/blackcatles.png);
  }
  75% {
    background-image: url(../media/eic_logo.png);
  }
  100% {
    background-image: url(../media/queen-of-sheba.png);
  }
}

#slideShow2 {
  position: absolute;
  opacity: 1;
  margin-left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation-name: bgSlides2;
  animation-duration: 8s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes bgSlides2 {
  0% {
    background-image: url(../media/clip_1.gif);
  }
  33% {
    background-image: url(../media/clip_2.gif);
  }
  66% {
    background-image: url(../media/clip_3.gif);
  }
  100% {
    background-image: url(../media/clip_4.gif);
  }
}
