#skills {
  background-color: white;
}

.list {
  width: 240px;
  height: 280px;
  top: 60px;
  left: 80px;
  box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.1);
  border: 2px solid white;
  background: rgba(255, 255, 255, .2);
  border-radius: 10px;
}
.list .head {
  padding: 20px 0;
  margin-left: 30px;
  margin-right: 30px;
  border-bottom: 1px solid #d4dce0;
}
.list .title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.list .subtitle {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
.list ul::-webkit-scrollbar {
  display: none;
}
.list ul {
  list-style: none;
  max-height: 140px;
  margin: 30px 30px 0 30px;
  padding: 4px 0;
  overflow: auto;
}
.list ul div {
  position: relative;
  display: block;
  margin-bottom: 15px;
  height: 15px;
}
.list ul .text {
  float: left;
  width: 92%;
  font-size: 13px;
  line-height: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.list ul .button {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  float: right;
  opacity: 0;
  width: 8%;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease-out 0.5s;
}
.list ul .checkmark {
  position: absolute;
  top: 2px;
  right: 0;
  stroke: green;
  fill: none;
  stroke-width: 1.5;
  stroke-dasharray: 30 30;
  stroke-dashoffset: 30;
  transition: all 0.5s ease-out;
}
.list ul input {
  display: none;
}
.list ul input:checked ~ .text {
  color: white;
}
.list ul input:checked ~ .button {
  transition: all 0.4s ease-in;
  /* transform: scale(0.8); */
  opacity: 1;
}
.list ul input:checked ~ .checkmark {
  stroke-dashoffset: 0;
  transition: all 0.5s ease-out 0.4s;
}

label:hover {
  color: white;
}
