.Tabs{
  background-color: rgba(20, 83, 45, 0.5)
}

[role="tablist"] {
  min-width: 100%;
}

[role="tab"],
[role="tab"]:focus,
[role="tab"]:hover {
  display: inline-block;
  position: relative;
  z-index: 2;
  top: 2px;
  margin: 0;
  outline: none;
  font-weight: bold;
  max-width: 7.5%;
  overflow: hidden;
  text-align: left;
  cursor: pointer;
}

[role="tab"][aria-selected="true"] {
  margin-top: 0;
  opacity: .5;
  /* border-top-width: 6px;
  border-top-color: rgb(36 116 214); */
}

[role="tab"] span.focus {
  display: inline-block;
  margin: 2px;
}

[role="tab"]:hover span.focus,
[role="tab"]:focus span.focus,
[role="tab"]:active span.focus {
  /* border: 2px solid rgb(36 116 214); */
}

[role="tabpanel"] {
  background: hsl(220deg 43% 99%);
  min-height: 10em;
  width: 100%;
  overflow: auto;
}

[role="tabpanel"].is-hidden {
  display: none;
}

[role="tabpanel"] p {
  margin: 0;
}

