/* Tab Navigation */
ul.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  padding-left: 0px;
  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
}

ul.nav li {
  max-width: 7.5%;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  @media (max-width: 768px) {
    max-width: 20%;
  }
}

ul.nav li:first-child {
  overflow: hidden;
  border-bottom-left-radius: .5rem;
  border-top-left-radius: .5rem;
  @media (max-width: 768px) {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
}

ul.nav li:last-child {
  overflow: hidden;
  border-bottom-right-radius: .5rem;
  border-top-right-radius: .5rem;
  @media (max-width: 768px) {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
}

ul.nav li:hover {
  opacity: 25%;
}

ul.nav li.active {
  opacity: 25%;
}

/* Tab Content Styles */
.TabContent {
  font-size: 2rem;
  text-align: center;
}

.LogoTabs {
  background-color: rgba(20, 83, 45, 0.25)
}
