/* Remove browser defaults */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Style App.js wrapper */
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Tab Navigation */
ul.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  padding-left: 0px;
}

ul.nav li {
  max-width: 7.5%;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  /* @media (max-width: 768px) {
    width: 90%;
  } */
}

ul.nav li:first-child {
  overflow: hidden;
  border-bottom-left-radius: .5rem;
  border-top-left-radius: .5rem;
}

ul.nav li:last-child {
  overflow: hidden;
  border-bottom-right-radius: .5rem;
  border-top-right-radius: .5rem;
}

ul.nav li:hover {
  opacity: 25%;
}

ul.nav li.active {
  opacity: 25%;
}

/* Tab Content Styles */
.TabContent {
  font-size: 2rem;
  text-align: center;
}

.LogoTabs {
  background-color: rgba(20, 83, 45, 0.25)
}
